*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.af-container-60{
  width: 60%;
  margin: 0 auto;
}

.af-cl-w{
  color: white !important;
}

.af-cl-b{
  color: black !important;
}

.af-cl-grey{
  color: grey !important;
}

.af-cl-blue{
  color: #135DBF !important;
}

.af-btn{
  border-radius: 50px;
  border: double 2px transparent;
}

.af-btn-grey{
  background-color: #292929;
  background-clip: padding-box;
}

.af-btn-grey:hover{
  background-color: #4A5057;
  box-shadow: 0px 0px 0px 3px #4A5057;
}

.af-btn-orange{
  background-color: #BD2A18;
  background-clip: padding-box;
}

.af-btn-orange:hover{
  background-color: #dd341d;
  box-shadow: 0px 0px 0px 3px #dd341d;
}

.af-btn-blue{
  background-color: #285AFF;
  background-clip: padding-box;
}

.af-btn-blue:hover{
  background-color: #264EDB;
  box-shadow: 0px 0px 0px 3px #264EDB;
}

.af-btn-white2{
  background-color: rgba(255, 255, 255, 0.5);
  background-clip: padding-box;
}

.af-btn-white2:hover{
  box-shadow: 0px 0px 0px 3px rgba(255, 255, 255, 0.5);
}

.af-btn-white{
  background-color: white;
  background-clip: padding-box;
}

.af-btn-white:hover{
  box-shadow: 0px 0px 0px 3px white;
}

.af-title1{
  font-size: 40px;
}

.af-title2{
  font-size: 27px;
}

.af-title3{
  font-size: 20px;
}

/*-----------------------
HEADER
-----------------------*/

/* header top */
.af-header-top{
  height: 30px;
  background-color: black;
}

.af-sony-logo img{
  width: 80px;
}

/* header bottom */
.af-header-bottom{
  background-color: white;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
}

.af-header-bottom ul li{
  margin-right: 20px;
}

.af-header-bottom ul li a{
  color: black !important;
}

.af-header-bottom ul li:hover a{
  color: #285AFF !important;
}

.af-chevron-down, .af-chevron-down-active{
  width: 10px;
}

.af-chevron-down-active{
  display: none;
}

.af-search{
  font-size: 20px;
  margin-left: 20px;
}

/* dropdown menu */

.af-dropdown{
  width: 100%;
  background-color: white;
  position: absolute;
  top: 75px;
  left: 0;
  display: none;
}

.af-nav-item:active .af-dropdown{
  display: block;
}

.af-nav-item:active .af-chevron-down{
  display: none;
}

.af-nav-item:active .af-chevron-down-active{
  display: block;
}

.af-dropdown-top{
  border-bottom: 1px solid lightgrey;
}

.af-ps5-icon{
  width: 60px;
}

/*-----------------------
MAIN
-----------------------*/

/* jumbotron 1 */

.af-jumbotron-1, .af-jumbotron-2{
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.af-jumbotron-1{
  background-image: url('../img/jumbo-bg.png');
}

.af-jumbo-desc, .af-jumbo2-desc{
  height: 700px;
}

.af-returnal-logo,
.af-itt-logo{
  width: 100%;
}

/* jumbo gallery */

.af-jumbo-box{
  height: 110px;
  border-radius: 22px;
  border: 2px solid rgba(255, 255, 255, 0);
  overflow: hidden;
  position: relative;
  bottom: 0;

  transition: bottom 0.3s;
}

.af-jumbo-box:hover {
  position: relative;
  bottom: 10px;
  padding: 0px;
  border: none;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.3);
}

.af-active{
  padding: 2px;
  border: 2px solid #285AFF;
}

.af-jumbo-box img{
  width: 100%;
  border-radius: 20px;
}

/* playstation 5 */

.af-ps5 > p{
  font-size: 14px;
}

.af-ps5-title{
  margin-bottom: 100px;
}

.af-ps5 img{
  width: 100%;
}

/* playstation 5 gallery */

.af-ps5-gallery img{
  width: 100%;
}

.af-ps5-item{
  opacity: 0.5;

  transition: opacity 0.5s;
}

.af-ps5-item:hover{
  opacity: 1;
}

.af-ps5-item-active{
  opacity: 1;
  border-bottom: 2px solid #285AFF;
}

/* jumbotron 2 */

.af-jumbotron-2{
  background-image: url('../img/it-takes-two-hero-banner-desktop.jpg');
}

/* new games */

.new-games{
  background-color: #181818;
}

.af-newgame-box{
  cursor: pointer;
}

.af-newgame-box img{
  width: 100%;
  border-radius: 20px;
}

/* playstaion 4 */

.af-ps4-box img{
  width: 100%;
}

/* ps plus */

.af-psplus{
  background-color: #B0AEAD;
}

.af-psplus img,
.af-psnow img{
  width: 100%;
}

.af-ps-plus-logo img,
.af-ps-now-logo img{
  width: 60%;
}

/* ps store */

.af-psstore-item{
  opacity: 0.7;

  transition: opacity 0.3s;
}

.af-psstore-item:hover{
  opacity: 1;
}

.af-psstore img{
  width: 100%;
}

/* ps now */

.af-psnow{
  background-color: #12152C;
}

/* social */

.af-social-card{
  opacity: 0.7;
  transition: opacity 0.5s, transform 1s;
}

.af-social-card:hover{
  opacity: 1;
  transform: rotateY(360deg);
}

.af-social img{
  width: 100%;
}

/*-----------------------
FOOTER
-----------------------*/

footer{
  background-color: #0B3288;
  font-size: 14px;
}

/* footer top */

.af-ps-logo2{
  width: 120px;
  filter: grayscale(100%) brightness(250%);
}

.fa-globe{
  font-size: 20px;
  margin-right: 10px;
}

.af-footer-top ul{
  list-style: none;
}

.af-footer-top ul li{
  padding: 5px 0;
}

/* footer bottom */

.af-ps-sie-logo{
  width: 120px;
}

/*=============================================================
MEDIA QUERY
=============================================================*/

@media screen and (min-width: 400px) and (max-width: 767px){

  .af-container-60{
    width: 100%;
  }

}

@media screen and (min-width: 768px){

  .af-ps5-gallery img{
    width: 50%;
  }

}

@media screen and (min-width: 992px) and (max-width: 1199px){

  .af-header-bottom{
    font-size: 12px;
  }

  .af-btn{
    font-size: 12px;
  }

}