*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.af-cl-w{
  color: white !important;
}

.af-cl-b{
  color: black !important;
}

/*-----------------------
HEADER
-----------------------*/

/* header top */
.af-header-top{
  height: 30px;
  background-color: black;
}

.af-logo-sony img{
  width: 80px;
}

/* header bottom */
.af-header-bottom{
  height: 70px;
  background-color: lightgrey;
}

.af-header-bottom ul li{
  margin-right: 20px;
}

.af-header-bottom ul li a{
  color: black !important;
}

.af-chevron{
  width: 10px;
}

.af-btn{
  border-radius: 50px;
}

.af-btn-grey{
  width: 80px;
  background-color: #292929;
}

.af-search{
  font-size: 20px;
  margin-left: 20px;
}

/*-----------------------
MAIN
-----------------------*/

/* jumbotron 1 */

.af-jumbotron-1{
  height: 700px;
  background-image: url('../img/jumbo-bg.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.af-returnal-logo{
  width: 100%;
}

.af-btn-orange{
  width: 150px;
  color: white;
  background-color: #BD2A18 !important;
}

/* jumbo gallery */

.af-jumbo-gallery{
  height: 200px;
  background-color: violet;
}

.af-jumbo-box{
  height: 100px;
  background-color: teal;
  border-radius: 10px;
  overflow: hidden;
}

.af-jumbo-box img{
  width: 100%;
}