*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*-----------------------
HEADER
-----------------------*/

/* header top */
.af-header-top{
  height: 30px;
  background-color: black;
}

.af-logo-sony img{
  width: 80px;
}

/* header bottom */
.af-header-bottom{
  height: 70px;
  background-color: lightgrey;
}

.af-header-bottom ul li{
  margin-right: 20px;
}

.af-header-bottom ul li a{
  color: black !important;
}

.af-chevron{
  width: 10px;
}

.af-btn{
  border-radius: 50px;
}

.af-btn-grey{
  background-color: #292929;
}

.af-search{
  font-size: 20px;
  margin-left: 20px;
}